*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
  
  /*Colors*/
  --main-color: #222831;
  --secondary-color: #393E46;
  --third-color: #00ADB5;
  --complementary-white: #EEEEEE;

  /*fonts*/
  --main-font: 'Montserrat', sans-serif;
}
